.main {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #00000044;
}

.main>ul {
    height: 31em;
    overflow: auto;
    list-style-type: none;
}

.main>ul>li {
    width: 90%;
    padding: 8px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.main>ul>li:hover {
    background-color: #a9a9a966;
}

.main>ul>li>span {
    cursor: pointer;
    color: #00ff00;
}

.main>.button {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    color: #00ff00;
    background-color: #00000088;
    margin: 15px;
}